<ul class="header-gender">
    <li><a routerLink="/men" routerLinkActive="active" (click)="onSelect('men')" >Men</a></li>
    <li><a routerLink="/women" routerLinkActive="active" (click)="onSelect('women')" >Women</a></li>
    <li><a routerLink="/children" routerLinkActive="active"(click)="onSelect('children')" >Children</a> </li>
</ul>

<!--<nav>
    <a routerLink="/men" routerLinkActive="active">Men</a>
    <a routerLink="/women" routerLinkActive="active">Women</a>
    <a routerLink="/children" routerLinkActive="active">children</a>
    <router-outlet></router-outlet>
</nav>-->