.modal-login-footer {
    padding: 0;
    .login-footer {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        background-color: #f1f1f1;
        padding: 15px;
    }
}

